@import "./src/App";

.filtersWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;

  .searchByName {
    min-width: 50%;
    padding: 0 50px;
  }

  .searchByTag {
    padding: 0 50px;
    min-width: 50%;
  }
}

.tableWrapper {
  padding: 50px;
}